body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.well {
    position: relative;
}

.row.content {
    height: 100vh;
    text-align: left;
}

.sidenav {
    padding-top: 40px;
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: lightslategrey;
    color: white;
    padding: 10px 0;
    margin-top: 30px;
    max-height: 30px;
    align-content: center;
}

#opis {
    text-align: justify;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.wrap {
    margin: auto;
}

.tabla {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.polje img {
    width: 100%;
    cursor: pointer;
    flex-basis: 100px;
}

#nova_igra {
    display: inline-block;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: lightcoral;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#dugmeBoja {
    display: inline-block;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: lightgreen;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#dugmeBoja:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#nova_igra:active {
    background-color: coral;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#nova_igra:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#dugmeBoja:hover {
    cursor: pointer;
}